.container {
  padding: 10px;
}

.container h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 24px;
  color: #111827;
  border-bottom: 2px solid #f3f4f6;
  padding-bottom: 12px;
}

.formGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 640px) {
  .formGrid {
    grid-template-columns: 1fr 1fr; /* Dos columnas en pantallas medianas */
  }
}



/* Acciones */
.actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #f3f4f6;
}

.wrapperImg {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wrapperImg img {
  width: auto;
  max-width: 95px;
  height: 100%;
  object-fit: contain;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
