.sidebar {
  width: 280px;
  height: auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  position: fixed;
  height: 92%;
  z-index: 99;
}

.header {
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.menuItem {
  display: flex;
  align-items: center;
  padding: 15px 40px;
  text-decoration: none;
  color: #6b7280;
}

.menuItem:hover {
  background-color: #f9fafb;
}

.active {
  background-color: #f9fafb;
  border-left: 4px solid #000;
  color: #000;
  font-weight: 600;
}

.emoji {
  margin-right: 15px;
}

.hamburger {
  display: none;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  border: none;
  background: none;
}

@media (max-width: 1300px) {
  .hamburger {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1001;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 1000;
  }

  .sidebar.open {
    transform: translateX(0);
  }
}
